<%- include("../layouts/admin-header.ejs") %>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Edit Post</h2>
    <div class="container">
        <form id="editPost">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Title</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="hidden" name="postId" value="<%=post._id%>" class="w-100">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="text" name="title" value="<%=post.title%>" required placeholder="Enter edited title" class="w-100">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#uploadModal">
                        Upload Image
                    </button>
                    <input type="hidden" name="image" id="image" value="<%=post.image%>">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <h5>Content</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <textarea name="content"  rows="5" placeholder="Enter edited content" class="w-100"><%=post.content%></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="submit" value="Edit Post" class="btn btn-warning">
                </div>
            </div>
        </form>
    </div>
    <p style="color: green" class="editStatus"></p>
</div>
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Choose an image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="uploadImage" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" name="image" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const socket = io();

    $(document).ready(function(){

        $("#uploadImage").submit(function(event){
            event.preventDefault();

            $.ajax({
                url:"/upload-post-image",
                type:"POST",
                data:new FormData(this),
                contentType:false,
                cache:false,
                processData:false,
                success:function(data){
                    if(data.success === true){
                        $("#image").val(data.path);     // set the value of hidden input image line 24
                        alert(data.msg);
                        $("#uploadModal").modal("hide");
                    }
                    else{
                        alert(data.msg);
                    }
                }
            })
        });

        $("#editPost").submit(function(event){
            // prevent to page load
            event.preventDefault();
            
            // get all the value from the form in array manner
            let formData = {};
            $.each($(this).serializeArray(),function(i,field){
                formData[field.name] = field.value;
            });

            $.ajax({
                url:"/edit-post",
                type:"POST",
                data:formData,      // we sending "formdata" to backend
                success:function(data){     // backend send processed "data" to frontend 
                    if(data.success === true){

                        // emit the task
                        socket.emit("edit_now",formData);

                        $('.editStatus').text(data.msg);
                        setTimeout(()=>{
                            $('.editStatus').text("");
                        },3000);
                    }
                    else{
                        $('.editStatus').text(data.msg);
                    }
                }
            })

        });
    })
</script>

<%- include("../layouts/admin-footer.ejs") %>