<%- include('./layouts/header.ejs')%>

<!-- Page Content-->
<div class="container px-4 px-lg-5 mb-3 " id="allPost">
<!-- Heading Row-->

<%if(allpost.length > 0) {

    allpost = allpost.reverse();

    allpost.forEach((post)=>{
        %>
            <div class="row gx-4 gx-lg-5 align-items-center my-5" id="post<%=post._id%>">
                <div class="col-lg-7">
                    <% if(post.image !== undefined && post.image !== ""){
                        %>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= post.image%>" alt="..." />
                        <%
                    }else{
                        %>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                        <%
                    }%>
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light"><%= post.title%></h1>
                    <p><%= post.content%></p>
                    <a class="btn btn-primary" href="/post/<%=post._id%>">Read More</a>
                </div>
            </div>
        <%
    }); } else {%>
        <h2><center>Post not available!</center></h2>
<%}%>
</div>

<div class="container mb-3">
    <div class="text-center">
        <button class="btn btn-info" onclick="getPrevious()">Previous</button>
        <button class="btn btn-info" onclick="getNext()">Next</button>
    </div>
</div>

<script>
    const socket = io();

    //For pagination
    let start = 0;
    let limit = <%=postLimit%>;

    function getNext(){
        
        start = start + limit;

        $.ajax({
            url:"/get-post/"+start+"/"+limit,
            type:"GET",
            success:function(posts){
                renderPosts(posts);
            }
        });
    }

    function getPrevious(){

        start = (start - limit < 0) ? 0 : start - limit;

        $.ajax({
            url:"/get-post/"+start+"/"+limit,
            type:"GET",
            success:function(posts){
                renderPosts(posts);
            }
        });
    }

    // for showing those pagination
    function renderPosts(posts){

        if(posts.length > 0){
            
            let html = "";

            for(let i=0;i<posts.length;i++){
                let image = "";

                if(posts[i].image !== undefined && posts[i].image !== ""){
                    image = `<img class="img-fluid rounded mb-4 mb-lg-0" src="`+posts[i].image+`" alt="..." />`;
                }else{
                    imtage = `<img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />`;
                }

                html += `
                    <div class="row gx-4 gx-lg-5 align-items-center my-5" id="post`+posts[i]._id+`">
                        <div class="col-lg-7">
                           `+image+`
                        </div>
                        <div class="col-lg-5">
                            <h1 class="font-weight-light">`+posts[i].title+`</h1>
                            <p>`+posts[i].content+`</p>
                            <a class="btn btn-primary" href="/post/`+posts[i]._id+`">Read More</a>
                        </div>
                    </div>
                `;

            }

            $("#allPost").html(html);
        }
    }

    //Real time new post show
    socket.on("new_post",function(postData){

        let image = "https://dummyimage.com/900x400/dee2e6/6c757d.jpg";

        if(postData.image !== ''){
            image = postData.image;
        }

        let html = "";
        html += `
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="`+image+`" alt="..." />
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">`+postData.title+`</h1>
                    <p>`+postData.content+`</p>
                    <a class="btn btn-primary" href="/post/`+postData._id+`">Read More</a>
                </div>
            </div>
        `;

        $('#allPost').prepend(html);
    });

    //Real time post edit
    socket.on("edit_now",function(editedPostData){

        const postDiv = document.getElementById("post"+editedPostData.postId);

        postDiv.querySelector(".img-fluid").src = editedPostData.image || "https://dummyimage.com/900x400/dee2e6/6c757d.jpg";
        postDiv.querySelector("h1").textContent = editedPostData.title;
        postDiv.querySelector("p").textContent = editedPostData.content;
        

    });

    //Real time new post delete
    socket.on("delete_now",function(deletedPostId){
        document.getElementById("post"+deletedPostId).remove();
    });

</script>

<%- include('./layouts/footer.ejs')%>