<%- include("./layouts/header.ejs")%>

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1"><%= singlepost.title%></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted by admin</div>
                    <!-- Post categories-->
                    <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a> -->
                    <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                </header>
                <!-- Preview image figure-->
                <% if(singlepost.image !== undefined && singlepost.image !== ""){
                    %>
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="<%= singlepost.image%>" alt="..." /></div>
                    <%
                }else{
                    %>
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                    <%
                }%>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4"><%= singlepost.content%></p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <h5>Leave a comment</h5>
                        <form class="mb-4" id="commentForm">
                            <input type="hidden" name="postId" value="<%= singlepost._id%>" >
                            <input type="text" class="form-control mb-3" name="username" placeholder="Enter your name" required >
                            <input type="email" class="form-control mb-3" name="email" placeholder="Enter your email" required>
                            <textarea class="form-control" name="comment" placeholder="what's your opinion?" required rows="3"></textarea>
                            <input type="submit" value="Submit" class="btn btn-primary mt-3">
                        </form>
                        <p class="commentStatus" style="color: green;"></p>
                       
                        <!-- Single comment-->
                        <div id="commentSection">
                            <% if(singlepost.comments.length > 0){
                                singlepost.comments = singlepost.comments.reverse();
                                singlepost.comments.forEach(function(comment){
                                    %>
                                        <div class="d-flex mt-3">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold"><%=comment.username%></div>
                                                <%=comment.comment%>

                                                <div id="replies<%=comment._id%>">
                                                    <%if(comment.replies){
                                                        
                                                        comment.replies.forEach(function(reply){
                                                            %>
                                                            <div class="d-flex mt-3">
                                                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                                <div class="ms-3">
                                                                    <div class="fw-bold"><%=reply.name%></div>
                                                                    <%=reply.reply%>
                                                                </div>
                                                            </div>
                                                            <%
                                                        })
                                                    }%>
                                                </div>

                                                <div class="col-md-12 mt-3">
                                                    <form class="doReply">
                                                        <input type="hidden" name="postId" value="<%= singlepost._id%>">
                                                        <input type="hidden" name="commentId" value="<%= comment._id%>">
                                                        <input type="hidden" name="commentEmail" value="<%= comment.email%>">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="name" placeholder="Enter your name" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" name="reply" placeholder="Reply to <%= comment.username%>" required></textarea>
                                                        </div>
                                                        <input type="submit" value="Reply" class="btn btn-info btn-sm">
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    <%
                                })
                            }%>  
                        </div>  
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const socket = io();

    $(document).ready(function(){

        // For comment section
        $('#commentForm').submit(function(event){
            event.preventDefault();

            // get all the value from the form in array manner
            let formData={};
            $.each($(this).serializeArray(),function(i,field){
                formData[field.name] = field.value;
            });

            const obj = $(this); 

            $.ajax({
                url:"/add-comment",
                type:"POST",
                data:formData,
                success:function(data){
                    
                    // added id to form
                    formData._id = data._id;
                    
                    //emit the task
                    socket.emit("new_comment",formData);

                    // reset the form
                    $(obj)[0].reset();

                    $('.commentStatus').text(data.msg);
                    setTimeout(()=>{
                        $('.commentStatus').text("");
                    },3000);

                }
            })
        })

        // For reply section
        $(".doReply").submit(function(event){
            event.preventDefault();

            // get all the value from the form in array manner
            const formData = {};
            $.each($(this).serializeArray(),function(i,field){
                formData[field.name] = field.value;
            });

            const obj = $(this);

            $.ajax({
                url:"/do-reply",
                type:"POST",
                data:formData,
                success:function(data){

                     // added id to form
                    formData._id = data._id;

                    //emit the task
                    socket.emit("new_reply",formData);

                    $(obj)[0].reset();
                    $(obj).parent().parent().append('<p>'+data.msg+'</p>');
                }

            })
        });

        // Real time comment show section
        socket.on("new_comment",function(commentData){
            let html ="";
            html += `<div class="d-flex mt-3">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">`+commentData.username+`</div>
                            `+commentData.comment+`
                        </div>
                    </div>`;
            $("#commentSection").prepend(html);
        });

        // Realtime reply show section
        socket.on("new_reply",function(replyData){
            console.log(replyData);
            let html ="";
            html += `
                <div class="d-flex mt-3">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">`+replyData.name+`</div>
                        `+replyData.reply+`
                    </div>
                </div>
            `;
            $('#replies'+replyData.commentId).append(html);
        });
        
    });
</script>

<%- include("./layouts/footer.ejs")%>